

@font-face {
  font-family: cool;
  src: url(../fonts/cool.ttf);
}

html{
    cursor:url(../cursor/select.cur),auto;
    
  }

body {
  overflow: hidden;
    /*background: gray;
background-image: url("");
    background-repeat: no-repeat;
  background-size: cover;

  width: auto;
  height: 100vh;
  background-position: 50% 50%;*/
  background:#efefef;
}
#reactive-bg-canvas {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background:none;
  z-index: 2!important;
}



.custom-navbar{
  position: fixed;
    top: 0;
    z-index: 5;
    background:none;
}
.custom-navbar li a { 
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 8px;
  margin-top:8px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar li a:hover {
    background: transparent;
    color: #ffff;
    font-weight: 700;
}

.custom-navbar  li > a:hover,
.custom-navbar  li > a:focus {
  background-color: transparent;
  border-bottom: 2px solid;
  border-color: #97bd1b!important;
}

.custom-navbar li.active > a {
    background-color: transparent;
    color: #fff;
}

.gtu{
  margin-top: -5vw;
  font-size: 8vw;
  color: #fff;

  font-family: 'cool', sans-serif;
}
.hostedby{
  font-family: 'cool', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1vw;
  color: #efefef; font-size: 2.5vw; width: auto;
}


.social {
  list-style: none;
  position: fixed;
  top: 50%;
  left: -3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.social li a {
  display: block;
  margin-left: -2px;
  height: 50px;
  width: 50px;
  border-radius: 0 25px 25px 0;
  border: 2px solid #000;
  background: #FFF;
  margin-bottom: 1em;
  transition: all .4s ease;
  color: #2980b9;
  text-decoration: none;
  line-height: 60px;
  position: relative;
}
.social li a:hover {
  cursor: pointer;
  width: 180px;
  color: #fff;
}
.social li a:hover span {
  left: 5%;
}
.social li a span {
  padding: 0 30px 0 15px;
  position: absolute;
  left: -120px;
  transition: left .4s ease;
}
.social li a i {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
}
.social li .facebook {
  background: rgb(72,103,170,0.1);
  border-color: #4867AA;
  color: #4867AA;
}
.social li .facebook:hover {
  background: #4867AA;
}
.social li .twitter {
  background: rgb(29,161,242,0.1);
  border-color: #1DA1F2;
  color: #1DA1F2;
}
.social li .twitter:hover {
  background: #1DA1F2;
}
.social li .insta {
  background: rgb(220,6,61,0.1);
  border-color: #DC063D;
  color: #DC063D;
}
.social li .insta:hover {
  background: #DC063D;
}
.social li .contact {
  background: rgb(220,6,61,0.1);
  border-color: #DC063D;
  color: #DC063D;
}
.social li .contact:hover {
  background: #DC063D;
}



/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


/*#counter {
  position: fixed;
  bottom:4%;
  left: 51%;
  transform: translateX(-50%);
  z-index: 3;
 display: inline-block; 
}

.digit-separator {position: relative; float: left; width: 17px; height: 44px; overflow: hidden; background-image: url(../images/digit_separator.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.digit {

  background-image:url(../images/digits.png);

}
#counter{
  
  border:1px solid rgba(0,0,0,0.5);
  border-radius:10px 10px 2px 2px;
  
  box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  background:#efefef;
}*/



@media all{
*,*::after,*::before{box-sizing:inherit;}
svg:not(:root){overflow:hidden;}
}
.back {
  -webkit-animation:grow 0.5s ease-out forwards;animation:grow 0.5s ease-out forwards;
}

.body {
  -webkit-animation:moveInUp 0.5s ease-out forwards;animation:moveInUp 0.5s ease-out forwards;-webkit-animation-delay:0.2s;animation-delay:0.2s;
}

.head {
  -webkit-animation:moveInDown 0.5s ease-out forwards;animation:moveInDown 0.5s ease-out forwards;-webkit-animation-delay:0.5s;animation-delay:0.5s;
}

.wifi-bar {
  -webkit-animation:smallMoveInUp 0.5s ease-out forwards;animation:smallMoveInUp 0.5s ease-out forwards;
}

.ralph_wifi-bar1{
  -webkit-animation-delay:1s;animation-delay:1s;
}

.ralph__wifi-bar2{-webkit-animation-delay:1.2s;animation-delay:1.2s;}

.ralph__wifi-bar3{-webkit-animation-delay:1.4s;animation-delay:1.4s;}

/*! CSS Used from: https://thoughtbot.com/blog/assets/posts/svg-animations-7ecad19ccf9e287ce46ec3dfcfc5470269ba611d5bad0ce0dfe829e15de1c24c.css ; media=screen */
@media screen{
.example-container{width:100%;position: fixed;}

.example-container.svg-animation{height:200px;overflow:hidden;}
.example-container.svg-animation::after{position:fixed;right:0;bottom:0;background:rgba(181,181,192,0.5);border:solid #b5b5c0;border-radius:2px 0 0 0;border-width:1px 0 0 1px;;display:block;font-size:12px;padding:0.25em 1em;}
.ralph{height:280px;width:280px;margin:-14px auto 0;}
.ralph__background,.ralph__body,.ralph__head,.ralph__wifi-bar{opacity:0;-webkit-transform-origin:50%;transform-origin:50%;}
}
/*! CSS Used keyframes */
@-webkit-keyframes grow{0%{-webkit-transform:scale(0.3);transform:scale(0.3);}30%{-webkit-transform:scale(1.2);transform:scale(1.2);}60%{-webkit-transform:scale(0.9);transform:scale(0.9);}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}}
@keyframes grow{0%{-webkit-transform:scale(0.3);transform:scale(0.3);}30%{-webkit-transform:scale(1.2);transform:scale(1.2);}60%{-webkit-transform:scale(0.9);transform:scale(0.9);}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}}
@-webkit-keyframes moveInUp{0%{-webkit-transform:translate3d(0, 500px, 0);  transform: translate(550px,500px);transform:translate3d(0, 500px, 0);}60%{-webkit-transform:translate3d(0, -12px, 0);transform:translate3d(0, -12px, 0);}80%{-webkit-transform:translate3d(0, 8px, 0);transform:translate3d(0, 8px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@keyframes moveInUp{0%{-webkit-transform:translate3d(0, 500px, 0);transform:translate3d(0, 500px, 0);}60%{-webkit-transform:translate3d(0, -12px, 0);transform:translate3d(0, -12px, 0);}80%{-webkit-transform:translate3d(0, 8px, 0);transform:translate3d(0, 8px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@-webkit-keyframes moveInDown{0%{-webkit-transform:translate3d(0, -500px, 0);transform:translate3d(0, -500px, 0);}60%{-webkit-transform:translate3d(0, 6px, 0);transform:translate3d(0, 6px, 0);}80%{-webkit-transform:translate3d(0, -3px, 0);transform:translate3d(0, -3px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@keyframes moveInDown{0%{-webkit-transform:translate3d(0, -500px, 0);transform:translate3d(0, -500px, 0);}60%{-webkit-transform:translate3d(0, 6px, 0);transform:translate3d(0, 6px, 0);}80%{-webkit-transform:translate3d(0, -3px, 0);transform:translate3d(0, -3px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@-webkit-keyframes smallMoveInUp{0%{-webkit-transform:translate3d(0, 8px, 0);transform:translate3d(0, 8px, 0);}50%{-webkit-transform:translate3d(0, -2px, 0);transform:translate3d(0, -2px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@keyframes smallMoveInUp{0%{-webkit-transform:translate3d(0, 8px, 0);transform:translate3d(0, 8px, 0);}50%{-webkit-transform:translate3d(0, -2px, 0);transform:translate3d(0, -2px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
  .ralph{
    align-items: center!important;
    align: center!important;
    padding-right: 50px;
    width: 80%;  
  }
  .example-container{ 
    position: fixed;
    z-index: 3;
    transform: translate(50%,267%);
  }