.back {
  /*background: gray;
  background-image: url("http://www.techessay.org/wp-content/uploads/2018/05/robot2-e1459359345121.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  background-position: 50% 50%;
  *//*background-attachment: fixed;*/
}
#particles-js {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:none;
  z-index: 8;
}

#homepage {
  top: 0;
  left: 0;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background: gray;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
#overview{
  height: 100%;
  display: table;
  text-align: justify-all;
  background: gray;
  width: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.title-widget {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.title-widget::before {
    background-color: #000;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.middle {
  display: table-cell;
  vertical-align: middle;
}

#homepage .inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*whatever width you want*/
}
#overview .inner {
  border:2px solid #000;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #000;
  /*whatever width you want*/
}


