body {
    background: gray;
background-image: url("https://cdn2.vectorstock.com/i/1000x1000/57/91/abstract-background-technology-electronic-vector-21165791.jpg");
    background-repeat: no-repeat;
  background-size: cover;
    background-position: 50% 50%;
  background-attachment: fixed;
}


