html{
    cursor:url(cursor/select.cur),auto;
  }
body {
    background: gray;
background-image: url("https://cdn2.vectorstock.com/i/1000x1000/57/91/abstract-background-technology-electronic-vector-21165791.jpg");
    background-repeat: no-repeat;
  background-size: cover;

  width: auto;
  height: 100vh;
  background-position: 50% 50%;
}
#particles-js {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background:none;
  z-index: 2;
}

#homepage {
  top: 0;
  left: 0;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #efefef;
  background-image: url("../Design (9).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
#overview{
  height: 100%;
  display: table;
  text-align: justify;
  background: #efefef;
  width: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.title-widget {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.title-widget::before {
    background-color: #000;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.middle {
  display: table-cell;
  vertical-align: middle;
}

#homepage .inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*whatever width you want*/
}
#overview .inner {
  margin-top:5%;
  padding: 1.5%;
  box-shadow: inset 0 0 10px #000;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #000;
  /*whatever width you want*/
}

.custom-navbar{
  position: fixed;
    top: 0;
    z-index: 5;
    background:none;
}
.custom-navbar li a { 
    color: #fff;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 8px;
  margin-top:8px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar li a:hover {
    background: transparent;
    color: #ffff;
    font-weight: 700;
}

.custom-navbar  li > a:hover,
.custom-navbar  li > a:focus {
  background-color: transparent;
  border-bottom: 2px solid;
  border-color: #97bd1b!important;
}

.custom-navbar li.active > a {
    background-color: transparent;
    color: #fff;
}

.gtu{
  margin-top: -12vw;
  font-size: 5vw;
  color: #000;
}
.hostedby{
  font-weight: bold;
  color: #1F1F1F; font-size: 1.8vw; width: auto;
}


.social {
  list-style: none;
  position: fixed;
  top: 50%;
  left: -3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.social li a {
  display: block;
  margin-left: -2px;
  height: 60px;
  width: 60px;
  border-radius: 0 25px 25px 0;
  border: 2px solid #000;
  background: #FFF;
  margin-bottom: 1em;
  transition: all .4s ease;
  color: #2980b9;
  text-decoration: none;
  line-height: 60px;
  position: relative;
}
.social li a:hover {
  cursor: pointer;
  width: 180px;
  color: #fff;
}
.social li a:hover span {
  left: 0;
}
.social li a span {
  padding: 0 30px 0 15px;
  position: absolute;
  left: -120px;
  transition: left .4s ease;
}
.social li a i {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
}
.social li .facebook {
  background: rgb(72,103,170,0.1);
  border-color: #4867AA;
  color: #4867AA;
}
.social li .facebook:hover {
  background: #4867AA;
}
.social li .twitter {
  background: rgb(29,161,242,0.1);
  border-color: #1DA1F2;
  color: #1DA1F2;
}
.social li .twitter:hover {
  background: #1DA1F2;
}
.social li .insta {
  background: rgb(220,6,61,0.1);
  border-color: #DC063D;
  color: #DC063D;
}
.social li .insta:hover {
  background: #DC063D;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


#counter {
  position: absolute;
  bottom:3%;
  left: 51%;
  transform: translateX(-50%);
  z-index: 1;
 display: inline-block; 
}

.digit-separator {position: relative; float: left; width: 17px; height: 44px; overflow: hidden; background-image: url(../images/digit_separator.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.digit {

  background-image:url(../images/digits.png);

}
#counter{
  
  border:1px solid rgba(0,0,0,0.5);
  border-radius:10px 10px 2px 2px;
  
  box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  background:#efefef;
}

/*scroll*/
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  bottom:18%;
  right:2%;
  z-index: 2;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #000;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  z-index: 2;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #2d3d5a;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}





 /*! CSS Used from: https://thoughtbot.com/blog/assets/application-e00fe12a5e60e5f6a241ba4403608b3a886b47f66cd9c9de78bcfe58ad98ad78.css ; media=all */
@media all{
*,*::after,*::before{box-sizing:inherit;}
svg:not(:root){overflow:hidden;}
}
.back {
  -webkit-animation:grow 0.5s ease-out forwards;animation:grow 0.5s ease-out forwards;
}

.body {
  -webkit-animation:moveInUp 0
  .5s ease-out forwards;animation:moveInUp 0.5s ease-out forwards;-webkit-animation-delay:0.2s;animation-delay:0.2s;
}

.head {
  -webkit-animation:moveInDown 0.5s ease-out forwards;animation:moveInDown 0.5s ease-out forwards;-webkit-animation-delay:0.5s;animation-delay:0.5s;
}

.wifi-bar {
  -webkit-animation:smallMoveInUp 0.5s ease-out forwards;animation:smallMoveInUp 0.5s ease-out forwards;
}

.ralph_wifi-bar1{
  -webkit-animation-delay:1s;animation-delay:1s;
}

.ralph__wifi-bar2{-webkit-animation-delay:1.2s;animation-delay:1.2s;}

.ralph__wifi-bar3{-webkit-animation-delay:1.4s;animation-delay:1.4s;}

/*! CSS Used from: https://thoughtbot.com/blog/assets/posts/svg-animations-7ecad19ccf9e287ce46ec3dfcfc5470269ba611d5bad0ce0dfe829e15de1c24c.css ; media=screen */
/*@media screen{
.example-container{margin:1rem auto 1.5rem;text-align:center;width:90%;}

.example-container.svg-animation{height:200px;overflow:hidden;position:relative;}
.example-container.svg-animation::after{position:absolute;right:0;bottom:0;background:rgba(181,181,192,0.5);border:solid #b5b5c0;border-radius:2px 0 0 0;border-width:1px 0 0 1px;;display:block;font-size:12px;padding:0.25em 1em;}
.ralph{height:280px;width:280px;margin:-14px auto 0;}
.ralph__background,.ralph__body,.ralph__head,.ralph__wifi-bar{opacity:0;-webkit-transform-origin:50%;transform-origin:50%;}
}*/
/*! CSS Used keyframes */
@-webkit-keyframes grow{0%{-webkit-transform:scale(0.3);transform:scale(0.3);}30%{-webkit-transform:scale(1.2);transform:scale(1.2);}60%{-webkit-transform:scale(0.9);transform:scale(0.9);}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}}
@keyframes grow{0%{-webkit-transform:scale(0.3);transform:scale(0.3);}30%{-webkit-transform:scale(1.2);transform:scale(1.2);}60%{-webkit-transform:scale(0.9);transform:scale(0.9);}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}}
@-webkit-keyframes moveInUp{0%{-webkit-transform:translate3d(0, 500px, 0);  transform: translate(550px,500px);transform:translate3d(0, 500px, 0);}60%{-webkit-transform:translate3d(0, -12px, 0);transform:translate3d(0, -12px, 0);}80%{-webkit-transform:translate3d(0, 8px, 0);transform:translate3d(0, 8px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@keyframes moveInUp{0%{-webkit-transform:translate3d(0, 500px, 0);transform:translate3d(0, 500px, 0);}60%{-webkit-transform:translate3d(0, -12px, 0);transform:translate3d(0, -12px, 0);}80%{-webkit-transform:translate3d(0, 8px, 0);transform:translate3d(0, 8px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@-webkit-keyframes moveInDown{0%{-webkit-transform:translate3d(0, -500px, 0);transform:translate3d(0, -500px, 0);}60%{-webkit-transform:translate3d(0, 6px, 0);transform:translate3d(0, 6px, 0);}80%{-webkit-transform:translate3d(0, -3px, 0);transform:translate3d(0, -3px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@keyframes moveInDown{0%{-webkit-transform:translate3d(0, -500px, 0);transform:translate3d(0, -500px, 0);}60%{-webkit-transform:translate3d(0, 6px, 0);transform:translate3d(0, 6px, 0);}80%{-webkit-transform:translate3d(0, -3px, 0);transform:translate3d(0, -3px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@-webkit-keyframes smallMoveInUp{0%{-webkit-transform:translate3d(0, 8px, 0);transform:translate3d(0, 8px, 0);}50%{-webkit-transform:translate3d(0, -2px, 0);transform:translate3d(0, -2px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
@keyframes smallMoveInUp{0%{-webkit-transform:translate3d(0, 8px, 0);transform:translate3d(0, 8px, 0);}50%{-webkit-transform:translate3d(0, -2px, 0);transform:translate3d(0, -2px, 0);}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}}
  .ralph{
    align-items: center!important;
    align: center!important;
    padding-right: 50px;
  }
  .example-container{
      transform: translate(225%,150%);
  }

  @media (min-width: 100px) and (max-width: 300px)
  {
    #topper {
      top: 0px;
    }
    .inner {
      margin-top: 100%;
    }
    .footer svg {
      bottom: -5%;
    }
  }