body {
    background: #d3d3d3;
background-image: url("");
    background-repeat: no-repeat;
  background-size: cover;
    background-position: 50% 50%;
  background-attachment: fixed;
}
.central{
  transform:  translate(10px,50px);
  /* top: 400 !important; */
  font-size: 5vw;
  text-align: center;
}
.hosting{
  transform:  translate(10px,130px);
  text-align: center;
}
.drone{
  transform: translate();
}
