html, body {
    margin: 0;
}
.wrapper{
    width: 80vw;
        height: auto;
text-align: center;
        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
        z-index: 50;
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*whatever width you want*/
}
    #particles-js {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/back.svg");
  background-position: 50% 50%;
  background-attachment: fixed;
  position: fixed;
  z-index: 1;
}

 
/*#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}*/
*
{
    margin: 0;
    padding: 0;
    
}
.box {
    position:relative;
    width:80%;
    height:80%;
    margin:10px auto 0 auto;
    display: none;
    z-index: 50;
}

.box-gradient {
    position:absolute;
    z-index: 50;
    width:100%;
    height:100%;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:none;
    }

.box-shadow {
    position:absolute;
    z-index: 50;
    left:50%;
    margin:400px 0 0 -290px;
    bottom:10px;
    width:580px;
    height:16px;
    background:#efefef;
    border-radius:290px / 8px;
    -moz-border-radius:290px / 8px;
    -webkit-border-radius:290px / 8px;
    box-shadow:0 10px 20px #000;
    -moz-box-shadow:0 10px 20px #000;
    -webkit-box-shadow:0 10px 20px #000;
}
#myVideo
{
    width: 80%;
    height:auto;
    z-index: 50;
    margin: 0 auto;
    position: absolute;
    left:0;
    right: 0;
    top:0;
}
canvas {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
}

.hide {
    display: none;
}

#confetti
{  
    display: none;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

.stars {
    background:#000 url(../img/stars.png) repeat top center;
    z-index:0;
}

.twinkling{
    background:transparent url(../img/twinkling.png) repeat top center;
    z-index:1;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(../img/clouds3.png) repeat top center;
    z-index:3;

    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
}


