body{
 background-size: cover;
}

@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("../fonts/FontAwesome.otf");
}

h1 {
  text-align: center;
}

/*The indroduction page for registration*/

/*The central box for the Introduction*/
.box {
    margin: 5% 5% 5% 5%;
    
}

.jumbo {
  background-color: grey;
}



.back img{
  width: 100%;
  height: 150px;
  /*-ms-transform-origin: top; *//* IE 9 */
  /*-webkit-transform-origin: top;*/ /* Safari */
  /*transform-origin: top;*/
  /*-ms-transform: scale(1, 0.30);*/ /* IE 9 */
  /*-webkit-transform: scale(1, 0.30);*/ /* Safari */
  /*transform: scale(1, 0.30);*/
}

.type {
  align-content: center;
}

span {
  font-size: 100%;
}



/*The first registration page*/
 
/*The central box of registration 1 page*/ 
.box1  {
  margin: 5% 15% 15% 15%;
  padding-bottom: 3%; 
  background-color: lightgrey;
  box-shadow: 10px 10px 5px darkgrey;
}

/*Arranging the position of the label name Main and Sub Event*/

.arrange1 {
  padding-left: 10%;
  margin-top: 20%;
}

.arrange2 {
  padding-left: 13%;
  margin-top: 5%;
}




/*The central box of registration 2 page*/
.box2 {
  margin:  1% 15% 15% 15%;
  align-content: center;
   background-color: lightgrey;
  
}

body{
   font-family: sans-serif;
}

.bgimg {
    background-image: url('background.jpg');
}

/*.register{
  background-size: cover;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 100vh;
    margin: auto;
    text-align: center;
    min
}*/
/*.ikona {
  position: relative;
  top: -32px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: -38px auto;
  background-color: #44ed90;
  text-align: center;
  border-top:10px solid transparent;
  border-bottom:10px solid white;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
}*/
/*.well{
  background: white;*/ /* Old browsers */

/*border: 1px groove green!important;
border-radius:10px!important;
}*/
/*input[type="text"],input[type="email"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}*/
/*.big{
	width: 100px;
}
.fa { font-size:4em !important;}

.help-block {
	color: #fb0000;
}
.help-block.with-errors {
	color: #dc423f;
*/
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.hidden2{
      display: none;
    }
    .hidden3 {
      display: none;
    }
    .hidden4 {
      display: none;
    }